doctype html
html
    head
        meta(charset='utf-8')
        title Covid19 Advisory - Impressum
        meta(name='description', content="This website is a platform for the relevant information for the individual - the straight out advisory. Secondly it provides the scientific background and reasoning behind it. And thirdly it is a plattform to discuss the accuracy of these information and conclusions. Welcome!")
        link(rel='manifest' href='manifest.json')

        link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="theme-color", content="#ffffff")

        include styles-include.pug
    body
        include ../../source/impressum/impressumbody.pug
        include scripts-include.pug
